* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Lato', sans-serif;
  color: #222; }

h1, h2, h3 {
  font-family: 'Poiret One', cursive; }

.button-container {
  margin-top: 20px; }
  .button-container a {
    color: inherit;
    text-decoration: none;
    border: 2px solid white;
    padding: 10px 20px;
    margin-right: -5px; }
    .button-container a:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px; }
    .button-container a:last-child {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px; }

header {
  background: red;
  color: #eee;
  min-height: 50vh;
  position: relative;
  width: 100%; }
  header.full-height {
    min-height: 100vh; }
  header h1 {
    font-size: 6em;
    position: absolute;
    bottom: 20px;
    left: 20px; }
  header #home {
    position: absolute;
    top: 30px;
    left: 30px;
    color: inherit;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px 14px;
    border-radius: 4px;
    border: 1px solid #ccc; }
    header #home:hover {
      background: rgba(255, 255, 255, 0.6); }
    header #home:before {
      content: "<";
      margin-right: 10px; }
  header nav {
    position: absolute;
    bottom: -2px;
    right: 5px; }
    header nav a {
      text-decoration: none;
      color: white;
      background: rgba(255, 255, 255, 0.2);
      padding: 10px 20px;
      border: 1px solid white;
      display: inline-block;
      margin-right: -4px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px; }
  header hgroup {
    margin: 0 auto;
    padding: 10% 0;
    text-align: center;
    width: 100%;
    max-width: 800px; }
    header hgroup h1 {
      font-size: 8em;
      position: static; }
    header hgroup h2 {
      margin-bottom: 2em; }
    header hgroup p {
      font-weight: 300;
      margin-bottom: 4em; }

footer {
  padding: 2em;
  font-weight: 300;
  text-align: center; }
